* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.text {
  text-align: center;
  height: 100px;
  background: #262626;
  color: #fff;
}
.text h2 {
  margin: 0;
  line-height: 100px;
  font-size: 48px;
}
.nav {
  background: #ca3400;
  color: #fff;
  display: flex;
}
.nav .logo {
  font-size: 24px;
  /* padding: 20px; */
  margin-left: 25px;
}
.nav .logo a {
  color: #fff;
  /* width: 45px; */
  text-decoration: none;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 50%;
  margin-left: auto;
}
ul li {
  padding: 20px;
  list-style: none;
}
ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
section {
  height: 300px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.first-section img {
  width: 100%;
  opacity: 0.5;
}
#home {
  background-color: rgb(37, 37, 37);
}
.first-section {
  /* background:  */
  background-size: 100%;
  animation: slide 3s infinite;
  -webkit-animation: slide 3s infinite;
  /* width: 100%; */
  height: 740px;
}

.about {
  display: flex;
  flex-direction: row;
}
.about-para {
  width: 50%;
  /* border: 1px solid black; */
  margin-left: 10%;
  /* margin-right: 10%;s */
  padding: 20px;
  font-size: 20px;
}
.about-para p {
  padding: 20px;
}
.para-why {
  padding: 20px;
  font-weight: bold;
}
.why-us {
  background-color: #b2babb;
}
.about-img {
  width: 80%;
  /* border: 1px solid black; */
  padding: 20px;
  margin-left: 10px;
}
.about-h2 {
  text-align: center;
  font-weight: 800px;
  text-decoration: underline;
  padding: 20px;
  margin: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  font-weight: 500px;
  text-align: center;
  padding: 20px;
  background-color: #5d6d7e;
}
.contact span {
  color: white;
  padding: 20px;
}
.fab {
  font-size: 25px;
  color: white;
}
footer {
  background-color: #d684fc;
  color: rgb(11, 10, 14);
  padding: 10px;
}
.copyright {
  padding: 10px;
  margin-left: 10px;
  font-weight: 25px;
}
.designed {
  float: right;
  /* padding: 10px; */
  font-weight: 25px;
  margin-right: 10px;
}

#container {
  text-align: center;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: red;
  letter-spacing: 2px;
  margin-top: 25%;
  font: size 45px;
  font-weight: bolder;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: rgb(196, 3, 3);
  animation: blink 0.75s step-end infinite;
  margin-top: 25%;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: orange;
  }
}

.mySlides {
  display: none;
}

.slide {
  padding: 20px;
  text-align: center;
  margin-left: 27%;
  width: 150%;
  height: 200px;
}
.services {
  background-color: #b2babb;
}
